#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp/
temp/


#     Node.js     #
###################
node_modules


#     Private     #
###################
*.my.js
*.my.json


#      Files      #
###################
.cache
*.log
*.lnk
*.bat
*.private.js