<div id="plugin-settings" v-cloak>
    <account-notification-banner></account-notification-banner>
    <div class="container pt-5 pb-5">
        <instance-switcher class="float-right"></instance-switcher>
        <h1>Settings</h1>
        <hr />
        <div id="form" ref="form"></div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
